<h1 mat-dialog-title>{{ data ? 'Editar Producto' : 'Agregar Producto' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field>
      <mat-label>Código</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="productForm.get('code')?.invalid && productForm.get('code')?.touched">
        Código es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched">
        Nombre es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Precio</mat-label>
      <input matInput formControlName="price" type="number">
      <mat-error *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched">
        Precio es requerido
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Cantidad</mat-label>
      <input matInput formControlName="amount" type="number">
      <mat-error *ngIf="productForm.get('amount')?.invalid && productForm.get('amount')?.touched">
        Cantidad es requerida
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Estado</mat-label>
      <input matInput formControlName="status">
      <mat-error *ngIf="productForm.get('status')?.invalid && productForm.get('status')?.touched">
        Estado es requerido
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSave()" [disabled]="!productForm.valid">Guardar</button>
</div>
